# Series (시리즈)의 개념
<img src="img/1강/Series개념.jpg" alt="datetime" style="width: 1200px;"/>

# pandas 라이브러리 import 하기

In [1]:
# Python의 리스트(List) 타입의 데이터 생성하기
data = [3,5,1,2]
print(data)

[3, 5, 1, 2]

In [2]:
# pandas 라이브러리 임포트하기 (1)
import pandas

In [3]:
pandas.Series([3,5,1,2])

0    3
1    5
2    1
3    2
dtype: int64

In [4]:
# pandas 라이브러리 임포트하기 (2)
import pandas as pd
pd.Series([3,5,1,2])

0    3
1    5
2    1
3    2
dtype: int64

In [7]:
# pandas 라이브러리 임포트하기 (3)
from pandas import Series
Series([3,5,1,2])

0    3
1    5
2    1
3    2
dtype: int64

#  Series 생성
 - 1차원 데이터를 저장하는 파이썬의 데이터타입인 리스트, 튜플, 사전 타입 등을 이용해서 Series 객체를 생성해 보고, Series 객체의 특징들을 살펴보도록 하겠습니다.

### 1) List를 사용하여 Series 생성하기

In [11]:
arr1 = ['a','b','c','d']
data1 = pd.Series(arr1)
data1

0    a
1    b
2    c
3    d
dtype: object

In [13]:
data1 = Series(data=[3,5,1,2], index = ['a','b','c','d'])
data1

a    3
b    5
c    1
d    2
dtype: int64

### 2) Tuple을 사용하여 Series 생성하기

In [14]:
arr2 = ('a','b','c','d')
data2 = pd.Series(arr2)
data2

0    a
1    b
2    c
3    d
dtype: object

### 3) Dict 타입의 변수를 사용하여 Series 생성하기

In [15]:
arr3 = {'a':3, 'b':5, 'c':1, 'd':2}
type(arr3)
data3 = pd.Series(arr3)
print(data3)
print(data3[1])

a    3
b    5
c    1
d    2
dtype: int64
5

### ** 몇 가지 Series 특징들 **

- Series.values는 numpy의 ndarray객체입니다.

In [10]:
print(data3.values)
type(data3.values)

[3 5 1 2]

numpy.ndarray

- 값에는 모든 데이터 타입 사용이 가능합니다.

In [11]:
from pandas import Series
print(Series([3,5,'big','data',[123],(789)]))

0        3
1        5
2      big
3     data
4    [123]
5      789
dtype: object

# Series의 속성(Attributes)와 함수(Method)들

#### 샘플 데이터 생성
 값과 Index 인자를 사용하여, Series 생성

In [180]:
sample = Series([85, 90, 75, 55, 45, 90, 95, 85, 90, 100], 
               index = ['a','b','c','d','e','f','g','h','i','j'])
sample

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
dtype: int64

### 속성(Attribute) = Series가 가지고 있는 객체, 속성(특징) 혹은 간단한 기능을 제공

1) index - Series의 인덱스 (혹은 인덱스 라벨)

In [29]:
sample.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

2) values - Series의 데이터

In [30]:
sample.values

array([ 85,  90,  75,  55,  45,  90,  95,  85,  90, 100], dtype=int64)

3) size - Series의 크기 (데이터의 길이)

In [31]:
sample.size

10

4) dtype - Series의 데이터(Series.values)의 데이터 타입
* 정수형 숫자: int64
* 실수형 숫자: float64
* 문자열이거나 2개 이상의 데이터 타입으로 이루어진 경우: 'O' (Object)

In [33]:
sample.dtype

dtype('int64')

In [36]:
Series(['a','b','c']).dtype

dtype('O')

In [38]:
Series([5.3,1]).dtype

dtype('float64')

### 함수(Methods) - Series가 제공하는 다양한 기능 활용
* 함수 호출 시 전달되는 자료들을 인자(argument, parameter)라고 합니다.
* 각 함수들은 정해진 인자들이 있으며, 인자값들을 토대로 함수가 실행됩니다. 
* 동일한 함수라고 하더라도 인자값을 어떻게 설정하느냐에 따라 동작방식은 달라질 수 있습니다.

1) describe() - 통계 정보를 한 눈에 제공해주는 함수

In [39]:
sample.describe()

count     10.000000
mean      81.000000
std       17.763883
min       45.000000
25%       77.500000
50%       87.500000
75%       90.000000
max      100.000000
dtype: float64

2) 통계함수들 - max(), min(), avg(), ...

In [41]:
sample.max()

100

In [42]:
sample.mean()

81.0

3) add_prefix(prefix) - 인덱스 라벨 앞에 prefix 문자열을 추가

In [52]:
sample2 = sample.add_prefix('big-')
sample2

big-a     85
big-b     90
big-c     75
big-d     55
big-e     45
big-f     90
big-g     95
big-h     85
big-i     90
big-j    100
dtype: int64

4) value_counts() - Series에 있는 데이터 값들의 개수

In [61]:
sample.value_counts(ascending = True)

100    1
55     1
75     1
45     1
95     1
85     2
90     3
dtype: int64

5) add(값) - Series의 데이터 각각에 값을 더하기

In [62]:
sample.add(other = 50)

a    135
b    140
c    125
d    105
e     95
f    140
g    145
h    135
i    140
j    150
dtype: int64


<b>[Mini Quiz #1]</b> 앞에 5개의 데이터에는 5를 더하고, 나머지 5개의 데이터에는 10을 더하시오.

In [68]:
sample.add([5,5,5,5,5,10,10,10,10,10])
print(sample[:5].add(5))
print(sample[5:10].add(10))

a    90
b    95
c    80
d    60
e    50
dtype: int64
f    100
g    105
h     95
i    100
j    110
dtype: int64

6) append(series) - 인자로 받은 series를 기존 series 뒤에 이어붙여서 하나의 series로 만든다.

In [78]:
a = Series([10,10,10,10,10], index = ['f','g','h','i','j'])
sample.add(a,fill_value = 5).astype(int)
# a = Series([5,5,5,5,5], index = ['a','b','c','d','e'])
# sample.add(a,fill_value = 10)

a     90
b     95
c     80
d     60
e     50
f    100
g    105
h     95
i    100
j    110
dtype: int32

7) isin(val_list) - Series에 있는 각각의 데이터들이 val_list에 포함되어 있는지 여부를 확인

In [80]:
sample.isin([70,80,90])

a    False
b     True
c    False
d    False
e    False
f     True
g    False
h    False
i     True
j    False
dtype: bool

<b>[Mini Quiz #2]</b> sample 데이터 내에 80이 있는지 확인하여 있으면 True, 없으면 False를 출력

In [87]:
80 in sample.values

False

<b>[Mini Quiz #3]</b> sample의 인덱스 내에 'h'가 있는지 확인하여 있으면 True, 없으면 False를 출력

In [86]:
'h' in sample.index

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
dtype: int64

8) apply(<i>func</i>) - Series의 값에 <i>func</i> 함수를 적용

In [92]:
def get_grade(val):
    if val >= 80:
        return 'Good'
    else:
        return 'Bad'
print(get_grade(50))
print(get_grade(90))

Bad
Good

In [94]:
sample.apply(get_grade)

a    Good
b    Good
c     Bad
d     Bad
e     Bad
f    Good
g    Good
h    Good
i    Good
j    Good
dtype: object

In [98]:
sample.apply(lambda val: 'Good' if val >= 80 else 'Bad')

a    Good
b    Good
c     Bad
d     Bad
e     Bad
f    Good
g    Good
h    Good
i    Good
j    Good
dtype: object

## Series 인덱싱 - 원하는 데이터만 선택하기

1) 특정 인덱스 선택하기
- 숫자 인덱스와 인덱스 라벨 모두 가능

In [100]:
sample['e']

45

2) 여러 인덱스를 동시에 선택하기
- 선택하고자 하는 인덱스 목록을 리스트(List, [])로 전달

In [109]:
sample[[2,4,6]]

c    75
e    45
g    95
dtype: int64

In [111]:
sample[['c','d','e','f','g']]

c    75
d    55
e    45
f    90
g    95
dtype: int64

3)인덱스 슬라이싱 - 주어진 범위에 해당하는 데이터 선택
<img src="img/1강/Series-슬라이싱.jpg" alt="datetime" style="width: 500px;"/>

- start idx와 end idx는 생략이 가능
- start idx를 생략 -> 맨 첫 데이터부터 선택
- end idx를 생략 -> 데이터 끝까지 선택

In [113]:
sample['c':'g']

c    75
d    55
e    45
f    90
g    95
dtype: int64

In [115]:
sample[0:5]

a    85
b    90
c    75
d    55
e    45
dtype: int64

In [181]:
sample[6:]

g     95
h     85
i     90
j    100
dtype: int64

4) 조건 색인(불리언 색인) : 조건을 활용한 인덱스 선택
- 조건에 충족하는 데이터만 선택하는 방법
- 매우 많이 활용되므로, 꼭 알고 있어야 함!
<img src="img/1강/조건색인1.jpg" alt="datetime" style="width: 1200px;"/>

In [182]:
boolean_idx = [False, False, False, False, False, 
               True, True, True, True, True]

In [183]:
sample[boolean_idx]

f     90
g     95
h     85
i     90
j    100
dtype: int64

- boolean index를 조건을 통해 생성할 수 있다. 
<img src="img/1강/조건색인2.jpg" alt="datetime" style="width: 1200px;"/>

In [184]:
sample.mean()

81.0

<b>[Mini Quiz #4]</b> sample 데이터의 평균값보다 큰 데이터만 선택

In [185]:
sample[sample>(sum(sample)/sample.size)]

a     85
b     90
f     90
g     95
h     85
i     90
j    100
dtype: int64

<b>[Mini Quiz #5]</b> sample의 값이 50과 80 사이의 데이터만 선택

In [187]:
sample[(sample<=80) & (sample >= 50)]

c    75
d    55
dtype: int64

In [148]:
sample = sample[sample>=50]
sample[sample<=80]

c    75
d    55
dtype: int64

=============================================================
# 연습

In [5]:
import random
from pandas import Series

In [6]:
# 실습 데이터 생성
sample = random.sample(range(1,100),26) # 1~100사이의 값을 26개 생성하여 list로 반환
data = Series(sample, index = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'))
data

A    94
B    73
C    97
D    93
E    68
F    89
G    12
H    38
I    91
J    34
K    90
L    41
M    99
N    18
O    51
P    45
Q    87
R    63
S    31
T    76
U    29
V    83
W    36
X    21
Y    86
Z    66
dtype: int64

In [7]:
# 1) 인덱스 라벨이 'K' 항목의 값 출력
data['K']

90

In [8]:
# 2) 인덱스 라벨이 'A','F','C' 항목의 값 출력
data[['A','F','C']]

A    94
F    89
C    97
dtype: int64

In [9]:
# 3) 5번 인덱스부터 15번 인덱스까지의 항목 출력
data[5:16]

F    89
G    12
H    38
I    91
J    34
K    90
L    41
M    99
N    18
O    51
P    45
dtype: int64

In [12]:
# 4) 뒤에서 5개 항목 출력
data[data.size:data.size-6:-1]
data[-5:]

V    83
W    36
X    21
Y    86
Z    66
dtype: int64

In [167]:
# 5) data의 항목의 갯수를 출력
data.size

26

In [169]:
# 6) data 항목 값들의 평균보다 큰 항목만 출력 
## Hint. data 항목 값들의 평균은 data.mean()으로 구할 수 있다.
data[data>data.mean()]

A    86
D    79
E    70
G    84
I    83
L    81
P    91
Q    98
R    89
S    85
W    67
X    69
Y    90
dtype: int64

In [171]:
# 7) data의 항목 값 중에 50이 있는지 확인하여, 있으면 True, 없으면 False를 출력
50 in data

False

In [208]:
# 8) data의 인덱스 라벨과 각 항목 값을 아래와 같이 출력
# index: A, value: XX
# index: B, value: XX
# index: C, value: XX
data.add_prefix('index:')

AttributeError: 'Index' object has no attribute 'add_prefix'

In [19]:
for idx,val in data.items():
    print("index: {} value: {}".format(idx,val))

index: A value: 94
index: B value: 73
index: C value: 97
index: D value: 93
index: E value: 68
index: F value: 89
index: G value: 12
index: H value: 38
index: I value: 91
index: J value: 34
index: K value: 90
index: L value: 41
index: M value: 99
index: N value: 18
index: O value: 51
index: P value: 45
index: Q value: 87
index: R value: 63
index: S value: 31
index: T value: 76
index: U value: 29
index: V value: 83
index: W value: 36
index: X value: 21
index: Y value: 86
index: Z value: 66