## 3. 웹 스크래핑

In [1]:
# requests 라이브러리 , beautifulsoup 라이브러리, selenium 라이브러리
import pandas as pd
from pandas import DataFrame, Series

### 1) read_clipboard() - 복사(ctrl C) 붙여넣기(ctrl V)

In [2]:
# 2. chromedriver 다운로드하여 적절한 위치에 옮기기
# 다운로드 사이트: https://sites.google.com/a/chromium.org/chromedriver/downloads
# https://finance.naver.com/sise/sise_market_sum.nhn 사이트 복사
# 자신의 크롬 브라우저의 버전에 맞는 파일을 다운로드
코스피 = pd.read_clipboard()

### 2) read_html() - html 문서 내 테이블 데이터 읽어오기

In [3]:
data = pd.read_html('https://finance.naver.com/sise/sise_market_sum.nhn',encoding='cp949')

In [4]:
df = data[1]

In [5]:
df[df.종목명.notnull()]

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
1,1.0,삼성전자,82100.0,800.0,-0.97%,100.0,4901191.0,5969783.0,53.38,18339969.0,19.71,9.99,NaN
2,2.0,SK하이닉스,120000.0,1000.0,-0.83%,5000.0,873603.0,728002.0,48.45,3476296.0,17.14,9.53,NaN
3,3.0,NAVER,442500.0,9500.0,+2.19%,100.0,726866.0,164263.0,56.56,742999.0,4.51,15.22,NaN
4,4.0,카카오,149000.0,500.0,-0.33%,100.0,662246.0,444460.0,32.00,2240224.0,216.89,2.70,NaN
5,5.0,삼성전자우,75200.0,200.0,+0.27%,100.0,618811.0,822887.0,75.81,1292627.0,18.06,NaN,NaN
9,6.0,LG화학,857000.0,1000.0,+0.12%,5000.0,604976.0,70592.0,47.30,187730.0,37.31,2.93,NaN
10,7.0,삼성바이오로직스,912000.0,9000.0,+1.00%,2500.0,603425.0,66165.0,10.33,178613.0,227.43,NaN,NaN
11,8.0,삼성SDI,771000.0,26000.0,+3.49%,5000.0,530175.0,68765.0,43.51,483473.0,75.52,4.54,NaN
12,9.0,현대차,223000.0,2000.0,-0.89%,5000.0,476480.0,213668.0,28.71,469266.0,26.99,2.04,NaN
13,10.0,셀트리온,269000.0,500.0,-0.19%,1000.0,370995.0,137917.0,20.43,407783.0,61.71,16.68,NaN
17,11.0,기아,85700.0,1300.0,-1.49%,5000.0,347396.0,405363.0,33.42,1412141.0,15.39,5.05,NaN
18,12.0,POSCO,344000.0,2500.0,-0.72%,5000.0,299923.0,87187.0,54.16,392995.0,13.44,3.61,NaN
19,13.0,삼성물산,145000.0,500.0,+0.35%,100.0,270986.0,186887.0,15.06,359215.0,17.27,3.81,NaN
20,14.0,현대모비스,276500.0,1500.0,-0.54%,5000.0,262103.0,94793.0,35.64,164954.0,14.76,4.66,NaN
21,15.0,LG전자,158000.0,2000.0,-1.25%,5000.0,258564.0,163648.0,31.78,556764.0,14.72,13.23,NaN
25,16.0,LG생활건강,1467000.0,3000.0,-0.20%,5000.0,229119.0,15618.0,45.39,32458.0,31.62,17.92,NaN
26,17.0,SK텔레콤,306500.0,0.0,0.00%,500.0,220864.0,72060.0,46.53,123635.0,14.12,6.44,NaN
27,18.0,SK이노베이션,238500.0,5000.0,-2.05%,5000.0,220530.0,92466.0,22.72,1227669.0,-22.55,-13.58,NaN
28,19.0,KB금융,52000.0,700.0,-1.33%,5000.0,216220.0,415808.0,67.24,925128.0,5.41,8.53,NaN
29,20.0,신한지주,38700.0,350.0,-0.90%,5000.0,199924.0,516600.0,60.00,1067695.0,5.43,8.20,NaN
33,21.0,SK,277000.0,0.0,0.00%,200.0,194898.0,70360.0,20.14,118565.0,32.26,1.11,NaN
34,22.0,엔씨소프트,817000.0,5000.0,+0.62%,500.0,179364.0,21954.0,51.52,54508.0,37.93,20.83,NaN
35,23.0,한국전력,25300.0,100.0,-0.39%,5000.0,162417.0,641964.0,15.25,1233464.0,7.91,2.91,NaN
36,24.0,HMM,39500.0,0.0,0.00%,5000.0,160130.0,405392.0,9.46,3378007.0,37.44,8.93,NaN
37,25.0,SK바이오사이언스,208000.0,2500.0,-1.19%,500.0,159120.0,76500.0,4.37,4081772.0,161.62,13.25,NaN
41,26.0,삼성생명,77400.0,500.0,+0.65%,500.0,154800.0,200000.0,13.06,390085.0,7.29,3.53,NaN
42,27.0,SK아이이테크놀로지,216500.0,500.0,-0.23%,1000.0,154359.0,71298.0,7.88,260401.0,NaN,11.00,NaN
43,28.0,LG,95500.0,100.0,-0.10%,5000.0,150222.0,157301.0,33.18,178802.0,8.76,7.50,NaN
44,29.0,삼성에스디에스,187500.0,1000.0,-0.53%,500.0,145083.0,77378.0,11.71,131838.0,23.05,6.71,NaN
45,30.0,삼성전기,193500.0,500.0,+0.26%,5000.0,144532.0,74694.0,32.39,678366.0,21.29,10.92,NaN
49,31.0,아모레퍼시픽,232000.0,4500.0,+1.98%,500.0,135624.0,58458.0,33.41,274830.0,162.35,0.78,NaN
50,32.0,하나금융지주,43350.0,650.0,-1.48%,5000.0,130155.0,300242.0,67.65,672938.0,4.62,8.96,NaN
51,33.0,포스코케미칼,157500.0,3000.0,+1.94%,500.0,122005.0,77463.0,7.88,234604.0,189.30,2.96,NaN
52,34.0,넷마블,136000.0,1000.0,-0.73%,100.0,116897.0,85954.0,22.84,202573.0,37.00,6.35,NaN
53,35.0,하이브,298500.0,3000.0,+1.02%,500.0,116567.0,39051.0,16.20,161754.0,106.19,12.52,NaN
57,36.0,KT&G,82800.0,500.0,-0.60%,5000.0,113678.0,137292.0,37.20,411499.0,9.87,13.22,NaN
58,37.0,S-Oil,98900.0,200.0,+0.20%,2500.0,111344.0,112583.0,77.89,229087.0,26.87,-13.07,NaN
59,38.0,두산중공업,21650.0,0.0,0.00%,5000.0,110938.0,512416.0,5.52,5056444.0,-12.16,-37.20,NaN
60,39.0,대한항공,30650.0,550.0,-1.76%,5000.0,106607.0,347821.0,11.05,1915729.0,13.10,-7.22,NaN
61,40.0,삼성화재,218000.0,0.0,0.00%,500.0,103277.0,47375.0,48.22,76880.0,10.86,4.96,NaN
65,41.0,SK바이오팜,127500.0,4000.0,+3.24%,500.0,99849.0,78313.0,6.68,488854.0,-185.05,-135.18,NaN
66,42.0,고려아연,525000.0,5000.0,-0.94%,5000.0,99068.0,18870.0,20.31,43247.0,15.37,8.37,NaN
67,43.0,한국조선해양,130000.0,2500.0,-1.89%,5000.0,92005.0,70773.0,17.53,212385.0,-9.95,-7.42,NaN
68,44.0,롯데케미칼,268000.0,1500.0,-0.56%,5000.0,91858.0,34275.0,27.05,100318.0,12.38,1.22,NaN
69,45.0,KT,33400.0,100.0,-0.30%,5000.0,87211.0,261112.0,44.14,563357.0,11.59,4.76,NaN
73,46.0,한온시스템,16300.0,100.0,+0.62%,100.0,87009.0,533800.0,17.85,762963.0,64.43,5.09,NaN
74,47.0,LG디스플레이,22600.0,350.0,-1.53%,5000.0,80866.0,357816.0,18.25,1815029.0,23.94,-0.79,NaN
75,48.0,우리금융지주,11050.0,150.0,-1.34%,5000.0,79811.0,722268.0,27.84,1971102.0,5.48,5.87,NaN
76,49.0,기업은행,10350.0,100.0,-0.96%,5000.0,77035.0,744301.0,12.90,911862.0,5.07,6.44,NaN
77,50.0,한화솔루션,39100.0,250.0,-0.64%,5000.0,74790.0,191278.0,16.88,803866.0,10.48,5.30,NaN

In [6]:
# 1~50페이지중 10페이지 읽어오기
url = 'https://finance.naver.com/sise/sise_market_sum.nhn?&page='
코스피500 = []
for i in range(1,11):
    full_url = url + str(i)
    data = pd.read_html(full_url, encoding= 'cp949')
    df = data[1]
    df = df[df.종목명.notnull()]
    코스피500.append(df)

In [7]:
코스피500[9]

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
1,451.0,와이투솔루션,2440.0,0.0,0.00%,500.0,3593.0,147236.0,1.16,0.0,-11.79,-64.02,NaN
2,452.0,SNT중공업,10750.0,50.0,-0.46%,2500.0,3575.0,33253.0,7.71,56521.0,6.01,1.37,NaN
3,453.0,태림포장,5030.0,95.0,+1.93%,500.0,3562.0,70806.0,1.05,252096.0,33.53,0.97,NaN
4,454.0,조선내화,89000.0,300.0,-0.34%,5000.0,3560.0,4000.0,3.05,1870.0,10.30,5.55,NaN
5,455.0,한국쉘석유,273500.0,500.0,-0.18%,5000.0,3556.0,1300.0,63.87,1570.0,15.50,21.44,NaN
9,456.0,제일파마홀딩스,22200.0,200.0,-0.89%,500.0,3546.0,15973.0,9.76,9379.0,43.44,2.86,NaN
10,457.0,케이씨,26000.0,100.0,+0.39%,500.0,3524.0,13554.0,7.51,65309.0,8.23,9.19,NaN
11,458.0,이수화학,12850.0,650.0,+5.33%,5000.0,3492.0,27178.0,1.98,1606861.0,-3.63,-31.08,NaN
12,459.0,KBSTAR ESG사회책임투자,14110.0,10.0,-0.07%,0.0,3492.0,24750.0,0.05,75038.0,NaN,NaN,NaN
13,460.0,엘브이엠씨홀딩스,3480.0,5.0,+0.14%,0.0,3461.0,99455.0,16.52,94953.0,-9.06,-7.20,NaN
17,461.0,대영포장,3175.0,60.0,+1.93%,500.0,3442.0,108395.0,2.97,4708932.0,66.15,2.18,NaN
18,462.0,서연,14650.0,50.0,-0.34%,500.0,3440.0,23480.0,0.00,213787.0,185.44,-1.26,NaN
19,463.0,한화3우B,15250.0,0.0,0.00%,5000.0,3427.0,22472.0,8.41,62667.0,3.91,NaN,NaN
20,464.0,대원제약,15950.0,50.0,+0.31%,500.0,3385.0,21225.0,16.39,32096.0,159.50,8.42,NaN
21,465.0,LS네트웍스,4295.0,185.0,+4.50%,5000.0,3385.0,78803.0,0.32,219399.0,-138.55,-4.87,NaN
25,466.0,화신,9690.0,90.0,+0.94%,500.0,3384.0,34920.0,2.24,350132.0,-29.82,-19.53,NaN
26,467.0,현대에너지솔루션,30100.0,50.0,+0.17%,5000.0,3371.0,11200.0,1.87,29606.0,113.16,1.93,NaN
27,468.0,KODEX 은행,7340.0,65.0,-0.88%,0.0,3365.0,45850.0,0.02,874362.0,NaN,NaN,NaN
28,469.0,경보제약,13850.0,500.0,+3.75%,500.0,3311.0,23907.0,0.87,210282.0,37.13,6.16,NaN
29,470.0,신세계 I&C,192500.0,1500.0,+0.79%,5000.0,3311.0,1720.0,2.79,7970.0,4.53,33.89,NaN
33,471.0,SNT홀딩스,20200.0,250.0,-1.22%,500.0,3293.0,16304.0,11.26,28370.0,4.92,4.62,NaN
34,472.0,신도리코,32450.0,350.0,+1.09%,5000.0,3271.0,10080.0,18.93,13464.0,381.76,-1.56,NaN
35,473.0,현대비앤지스틸,21600.0,150.0,+0.70%,5000.0,3257.0,15079.0,4.30,166285.0,8.63,5.68,NaN
36,474.0,세아제강지주,78400.0,1100.0,-1.38%,5000.0,3247.0,4142.0,5.27,12383.0,11.88,1.76,NaN
37,475.0,경농,16600.0,350.0,-2.06%,500.0,3241.0,19523.0,1.43,269517.0,25.98,6.70,NaN
41,476.0,KODEX 코스피,32885.0,130.0,-0.39%,0.0,3223.0,9800.0,0.00,54845.0,NaN,NaN,NaN
42,477.0,동부건설,14050.0,0.0,0.00%,5000.0,3193.0,22726.0,2.41,113794.0,6.75,10.10,NaN
43,478.0,덕성,20200.0,350.0,-1.70%,500.0,3167.0,15680.0,0.58,827772.0,67.79,5.61,NaN
44,479.0,대동,13300.0,1100.0,+9.02%,1000.0,3156.0,23728.0,2.73,2382077.0,10.32,7.74,NaN
45,480.0,KPX케미칼,65200.0,1700.0,+2.68%,5000.0,3156.0,4840.0,30.05,5826.0,4.39,12.70,NaN
49,481.0,종근당바이오,57400.0,200.0,+0.35%,2500.0,3149.0,5486.0,1.09,29342.0,177.71,3.79,NaN
50,482.0,유니퀘스트,11500.0,150.0,+1.32%,500.0,3143.0,27329.0,44.85,178636.0,8.75,10.80,NaN
51,483.0,삼성전기우,108000.0,1000.0,+0.93%,5000.0,3140.0,2907.0,9.51,14853.0,11.89,NaN,NaN
52,484.0,SBS미디어홀딩스,2230.0,0.0,0.00%,500.0,3120.0,139896.0,2.33,149345.0,-6.14,-11.93,NaN
53,485.0,디아이,9820.0,740.0,+8.15%,500.0,3093.0,31497.0,9.16,3949471.0,25.91,4.13,NaN
57,486.0,TIGER 차이나항셍테크,8570.0,165.0,-1.89%,0.0,3077.0,35900.0,0.65,1041919.0,NaN,NaN,NaN
58,487.0,삼화페인트,11300.0,100.0,+0.89%,500.0,3074.0,27203.0,9.45,31838.0,32.94,2.29,NaN
59,488.0,도화엔지니어링,9110.0,240.0,+2.71%,500.0,3072.0,33720.0,2.08,131679.0,21.79,7.00,NaN
60,489.0,무림P&P,4920.0,0.0,0.00%,2500.0,3069.0,62368.0,2.00,119358.0,-23.43,-1.43,NaN
61,490.0,삼영무역,16600.0,50.0,+0.30%,500.0,3066.0,18467.0,20.55,8731.0,9.29,7.59,NaN
65,491.0,동성케미컬,6140.0,70.0,+1.15%,1000.0,3051.0,49690.0,3.96,124027.0,66.74,2.39,NaN
66,492.0,백광산업,6780.0,10.0,-0.15%,500.0,3045.0,44918.0,2.27,424148.0,27.45,5.89,NaN
67,493.0,금호에이치티,2425.0,85.0,+3.63%,500.0,3037.0,125258.0,2.16,2125990.0,-65.54,-4.85,NaN
68,494.0,KBSTAR 국고채3년선물인버스,99825.0,20.0,-0.02%,0.0,3026.0,3031.0,0.00,6.0,NaN,NaN,NaN
69,495.0,JW홀딩스,4420.0,10.0,+0.23%,500.0,3025.0,68441.0,2.24,33194.0,15.73,7.45,NaN
73,496.0,KODEX 선진국MSCI World,19895.0,10.0,-0.05%,0.0,3024.0,15200.0,0.00,21392.0,NaN,NaN,NaN
74,497.0,TYM,2130.0,15.0,-0.70%,500.0,3011.0,141365.0,3.62,7191072.0,35.50,2.98,NaN
75,498.0,광주신세계,187000.0,1000.0,+0.54%,5000.0,2992.0,1600.0,12.21,1007.0,6.51,6.35,NaN
76,499.0,그린케미칼,12450.0,500.0,+4.18%,500.0,2988.0,24000.0,0.62,492939.0,28.62,9.33,NaN
77,500.0,벽산,4335.0,40.0,+0.93%,500.0,2972.0,68560.0,4.08,790913.0,-481.67,-0.67,NaN

In [8]:
data = pd.concat(코스피500)

In [9]:
data.to_html('data/코스피500데이터.html',encoding='cp949')

In [10]:
# 삼성전자의 일별 시세 가져오기
삼성전자url = 'https://finance.naver.com/item/sise.nhn?code=005930'
data = pd.read_html(삼성전자url, encoding='cp949')

In [13]:
data[0]

,0,1,2
0,"전일 82,900 82,900","고가 83,30083,300 (상한가 107,500107,500 )","거래량 18,339,969 18,339,968"
1,"시가 83,30083,300","저가 82,00082,000 (하한가 58,100 )","거래대금 1,514,176 1,514,176 백만"

In [16]:
# 일별 시세 웹페이지 url로 변경
# 웹사이트가 로딩하는 시간이 존재 read_html 실행도중에 페이지 로딩이 안끝남
# 에러 확인
삼성전자url = 'https://finance.naver.com/item/sise_day.nhn?code=005930'
data = pd.read_html(삼성전자url, encoding='cp949')

ValueError: No tables found

### 3) Selenium 라이브러리 활용  

* selenium 설치: conda install selenium
* chromedriver 다운로드 : https://sites.google.com/a/chromium.org/chromedriver/downloads

In [101]:
# selenium으로 위의 에러 문제를 해결해보자!
from selenium import webdriver
driver = webdriver.Chrome('chromedriver')

In [102]:
driver.implicitly_wait(3)

In [103]:
삼성전자url = 'https://finance.naver.com/item/sise_day.nhn?code=005930&page='

In [104]:
driver.get(삼성전자url)

In [105]:
html = driver.page_source

In [106]:
data = pd.read_html(html,encoding='cp949')

In [107]:
삼성_일별 = data[0][data[0].날짜.notnull()]

In [108]:
삼성_일별

            날짜       종가     전일비       시가       고가       저가         거래량
1   2021.08.05  82100.0   800.0  83300.0  83300.0  82000.0  18339969.0
2   2021.08.04  82900.0  1500.0  82200.0  83100.0  81800.0  25642368.0
3   2021.08.03  81400.0  2100.0  79400.0  81400.0  79300.0  24339360.0
4   2021.08.02  79300.0   800.0  79200.0  79500.0  78700.0  11739124.0
5   2021.07.30  78500.0   500.0  78900.0  78900.0  78500.0  13823411.0
9   2021.07.29  79000.0   200.0  78800.0  79400.0  78800.0  14360453.0
10  2021.07.28  79200.0   700.0  78300.0  79200.0  78100.0  12743417.0
11  2021.07.27  78500.0   300.0  79200.0  79400.0  78500.0  11427693.0
12  2021.07.26  78800.0   500.0  79400.0  79500.0  78800.0  10040975.0
13  2021.07.23  79300.0   400.0  79700.0  79900.0  79200.0   9098910.0

In [110]:
#실습 모든 기간의 삼성전자 일별 데이터를 스크래핑해서 하나의 데이터 프레임 생성
일별주가 = []
삼성전자url = 'https://finance.naver.com/item/sise_day.nhn?code=005930&page='
for i in range(1,3): # 편의상 1,2만
    full_url = 삼성전자url + str(i)
    driver.get(full_url)
    html = driver.page_source
    data = pd.read_html(html,encoding='cp949')
    삼성_일별 = data[0][data[0].날짜.notnull()]
    일별주가.append(삼성_일별)

In [113]:
일별주가[1]

            날짜       종가     전일비       시가       고가       저가         거래량
1   2021.07.22  79700.0  1200.0  79000.0  79800.0  78900.0  12618790.0
2   2021.07.21  78500.0   500.0  79000.0  79100.0  78500.0  12355296.0
3   2021.07.20  79000.0     0.0  78500.0  79000.0  78400.0  12456646.0
4   2021.07.19  79000.0   800.0  79100.0  79200.0  78800.0  13155414.0
5   2021.07.16  79800.0   800.0  80100.0  80100.0  79500.0  10859399.0
9   2021.07.15  80600.0  1100.0  79800.0  80600.0  79500.0  13766279.0
10  2021.07.14  79500.0   300.0  79400.0  79600.0  79100.0  11575636.0
11  2021.07.13  79800.0   100.0  80000.0  80200.0  79800.0   9863450.0
12  2021.07.12  79700.0   300.0  79900.0  80000.0  79500.0   9768108.0
13  2021.07.09  79400.0   500.0  79600.0  79800.0  79000.0  22720577.0

In [115]:
삼성전자_일별_최종데이터 = pd.concat(일별주가)

In [116]:
삼성전자_일별_최종데이터.to_excel('data/삼성전자_일별주가.xlsx', encoding='cp949')

## 4. 데이터베이스에서 읽기
### 파이썬에 내장(embedded)된 sqlite 사용

In [117]:
import sqlite3

In [122]:
#테이블 생성 SQL 정의
테이블생성 = 'CREATE TABLE locations \
                (a varchar[20], b varchar[20], c integer)'

In [123]:
#sqlite 접속
conn = sqlite3.connect('temp.db')

In [124]:
#테이블 생성 SQL 수행 
conn.execute(테이블생성)

In [125]:
# commit() 수행. - SQL 수행 후, commit을 해야만, 데이터베이스에 SQL 구문이 적용됨 
conn.commit()

In [126]:
#생성된 테이블에 저장할 데이터 정의
data = [['서울','강남', 15]
       ,['서울','강동', 10]
       ,['서울','동대문', 7]
       ,['서울','양천', 12]
       ,['성남','분당', 12]
       ,['수원','영통', 15]
       ,['성남','중원', 11]
       ,['수원','팔달', 14]
       ]

In [127]:
# 데이터 적재 SQL 정의 
삽입 = 'insert into locations values (?,?,?)'

In [128]:
#데이터 적재 SQL 수행 
conn.executemany(삽입,data)

In [129]:
# commit() 수행 
conn.commit()

In [130]:
#Select SQL 실행1
pd.read_sql('select * from locations',conn)

    a    b   c
0  서울   강남  15
1  서울   강동  10
2  서울  동대문   7
3  서울   양천  12
4  성남   분당  12
5  수원   영통  15
6  성남   중원  11
7  수원   팔달  14

In [131]:
#Select SQL 실행2
pd.read_sql('select a,sum(c) from locations group by a',conn)

    a  sum(c)
0  서울      44
1  성남      23
2  수원      29

In [132]:
# 데이터베이스의 테이블 크기가 큰 경우에는 cursor 사용하기
cursor = conn.execute('select * from locations')
cursor

In [133]:
cursor.fetchmany(3)

[('서울', '강남', 15), ('서울', '강동', 10), ('서울', '동대문', 7)]

In [134]:
cursor.close()

In [135]:
conn.close()