In [1]:
import pandas as pd
S = pd.Series([11,28,72,3,5,8])
S

0    11
1    28
2    72
3     3
4     5
5     8
dtype: int64

In [6]:
print(type(S))
print(S.values)
print(type(S.values))
print(S.index)
print(type(S.index))

<class 'pandas.core.series.Series'>
[11 28 72  3  5  8]
<class 'numpy.ndarray'>
RangeIndex(start=0, stop=6, step=1)
<class 'pandas.core.indexes.range.RangeIndex'>

In [11]:
# set은 사용 불가
print(pd.Series((11,28)))
print()
print(pd.Series((('a',2),('b',1))))
print()
print(pd.Series({'a':2,'b':1}))
print()
print(pd.Series('abc'))
print()
print(pd.Series(list('abc')))
#pd.Series({11,28})

0    11
1    28
dtype: int64

0    (a, 2)
1    (b, 1)
dtype: object

a    2
b    1
dtype: int64

0    abc
dtype: object

0    a
1    b
2    c
dtype: object

In [16]:
import numpy as np
print(pd.Series(np.array([1,2,1])))
print(pd.Series({'a':'abc','b':np.arange(4)}))
print(pd.Series({'a':np.arange(4).reshape(2,2),'b':np.arange(4)}))

0    1
1    2
2    1
dtype: int32
a             abc
b    [0, 1, 2, 3]
dtype: object
a    [[0, 1], [2, 3]]
b        [0, 1, 2, 3]
dtype: object

# 숫자 인덱싱, 슬라이싱

In [17]:
a = pd.Series([11,28,72], index=range(1,6,2))
a

1    11
3    28
5    72
dtype: int64

In [19]:
a.index

RangeIndex(start=1, stop=6, step=2)

In [20]:
type(a.index)

pandas.core.indexes.range.RangeIndex

In [31]:
print(a[0:1])
print(a[1:3])

1    11
dtype: int64
3    28
5    72
dtype: int64

In [32]:
a[1] = None
a

1     NaN
3    28.0
5    72.0
dtype: float64

In [33]:
a[1]

nan

In [34]:
a[1:3] = [10,np.nan]
a

1     NaN
3    10.0
5     NaN
dtype: float64

In [36]:
a[2:3]

5   NaN
dtype: float64

In [38]:
print(type(np.nan))
print(None)

<class 'float'>
None

In [42]:
a.fillna(0).astype('int')

1     0
3    10
5     0
dtype: int32

In [43]:
b = pd.Series([11,28,72], index = list('abc'))
b

a    11
b    28
c    72
dtype: int64

In [46]:
print(b['b'])
print(b['b':'c']) # 문자 인덱싱은 뒤까지 포함해서 결과 출력

28
b    28
c    72
dtype: int64

In [45]:
b[0]

11

In [47]:
b[0:1]

a    11
dtype: int64

In [52]:
b.index

Index(['a', 'b', 'c'], dtype='object')

In [53]:
b.values

array([11, 28, 72], dtype=int64)

In [57]:
b.index = ['b','a','c'] # 인덱스 값 변경

In [58]:
b['b':'a']

b    11
a    28
dtype: int64

# 인덱스 자격

In [59]:
b.index = range(3)
b

0    11
1    28
2    72
dtype: int64

In [61]:
b.index = [('a',),('b',),('c',)]
b #숫자 tuple만 가능 index값으로는 set dict와 같이 변경가능한 값은 안됨

(a,)    11
(b,)    28
(c,)    72
dtype: int64

# Fancy indexing

In [65]:
c = pd.Series([11,28,72], index = ['a','b','b'])
c

a    11
b    28
b    72
dtype: int64

In [63]:
c['b']

b    28
b    72
dtype: int64

In [66]:
c[['b','a']] # b가 먼저 출력됨

b    28
b    72
a    11
dtype: int64

In [67]:
c[[0,2]]

a    11
b    72
dtype: int64

# 연습문제 1 
## 다음의 변수 A로 만드시오.

In [68]:
import pandas as pd
A = pd.Series(list('abc')*2 , index = [k for j in [[i] * i for i in range(1,4)] for k in j])

In [70]:
A

1    a
2    b
2    c
3    a
3    b
3    c
dtype: object

# 연습문제 2
## A로부터 Series 2개로 추출하시오.

In [71]:
A[[3,2]]

3    a
3    b
3    c
2    b
2    c
dtype: object

In [72]:
A[0:5]

1    a
2    b
2    c
3    a
3    b
dtype: object